a{
	text-decoration: none;
}
html{
	font-size: 14px;
}
body{
	background: url(../img/background.png) no-repeat;
	background-size:100% auto ;
	background-color: rgb(49,69,96);
}
.nav,.imgList{
	width: 400px;
}
.nav{
	margin: 10% auto 2%;
	padding: 1% 1% 3% 1% ;
	background: #162B3E;
	box-sizing: border-box;
	font-family: "EurostileLT Demi";
}
.nav,.imgList{
	width: 77.5%;
}
.nav span{
	color: #fff;
}
.nav .nav-title{
	padding: 3% 0 0 2%;
}
.nav .nav-title,.imgItem .itemText{
	color: rgb(255,255,255);
	font-size: 2.4rem;
}
.nav .nav-time{
	float: right;
	padding: 3% 2% 0 0;
}
.nav .nav-time,.itemTime{
	font-size: 1.3rem;
}
.nav .nav-time,.imgItem .itemTime{
	color: rgb(87,94,103);
}
.nav .nav-time,.nav .nav-title{
	line-height: 30px;
	display: inline-block;
}
.nav .nav-header{
	display: block;
	width: 100%;
	
}
.imgList{
	margin: 0 auto;
	padding: 0;
	font-size: 0;
	font-family: "EurostileLT Demi";
}
.imgList .imgItem{
	margin-bottom: 2%;
	background: #162B3E;
	display: inline-block;
	width: 100%;
	position: relative;
	border: 1px solid;
	box-sizing: border-box;
	border-image: -webkit-linear-gradient( left, rgb(168,207,244), rgb(49,69,96)) 30 30;
}
.imgList .imgItem:after{
	content: "";
	display: inline-block;
	clear: both;
}
.imgItem .itemTime{
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 1.0rem;
}
.imgItem .itemText{
	margin: 0 0 0 20px;
}
.imgList .itemHeader{
	width: 30%;
	float: left;
}
.imgItem .itemContent{
	font-size: 2.4rem;
	padding: 2% 2% 2% 30%;
	height: 100%;
	box-sizing: border-box;
}
@media only screen and (min-width: 710px) and (max-width: 1023px) {
	.nav .nav-title,.imgItem .itemText{
		font-size: 1.7rem;
	}
	.nav .nav-time,.itemTime{
		font-size: 1.0rem;
	}
}
@media only screen and (min-width: 414px) and (max-width: 700px) {
	.nav .nav-title,.imgItem .itemText{
		font-size: 1.1rem;
	}
	.nav .nav-time,.itemTime{
		font-size: .85rem;
	}
}
@media only screen and (min-width: 0px) and (max-width: 413px) {
	.nav .nav-title,.imgItem .itemText{
		font-size: 1.0rem;
	}
	.nav .nav-time,.itemTime{
		font-size: .85rem;
	}
}